@charset 'utf-8';

.header {
    height: 70px;
    background-color: orchid;
}

.body {
    display: flex;
}

.menu-wrap {
    width: 12%;
    background-color: palegreen;
}

.main-wrap {
    width: 88%;
    background-color: pink;
}