@charset 'utf-8';

table {
    border-collapse: collapse;
    width: 80%;
    border-top: 1px solid #dfe8f3;
    margin: 0 auto;
}

tr {
    height: 35px;
}

tr:nth-child(1) {
    background-color: #ebf0f3;
    color: #555;
    font-weight: 900;
}

td {
    border-bottom: 1px solid #dfe8f3;
}

.td-3 {
    width: 3%;
}

.td-5 {
    width: 5%;
}

.td-10 {
    width: 10%;
}

.td-30 {
    width: 30%;
}

input {
    vertical-align: middle;
}

.board-list a:hover {
    text-decoration: underline;
    color: #777;
}

.title {
    margin-left: 170px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.page-num {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

.page-active {
    font-weight: bold;
}

.page-num a:hover {
    text-decoration: underline;
}

.title a:hover {
    text-decoration: underline;
}

.title .right {
    margin-right: 170px;
}