@charset 'utf-8';

.btn-box {
	display: flex;
	justify-content: space-between;
}

table {
	border-collapse: collapse;
	width: 100%;
}

tr:nth-child(1) {
	background-color: #b9cee2;
	border-bottom: 0;
}

tr {
	height: 45px;
	border-bottom: 1px solid #abb3b8a2;
}

table a:hover {
	text-decoration: underline;
	color: gray;
}

.td-5 {
	width: 5%;
}

.td-7 {
	width: 7%;
}

.td-12 {
	width: 12%;
}

.td-15 {
	width: 15%;
}

.td-100 {
	width: 100%;
}

.text-left {
	text-align: left;
}

.search-box {
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.insert-box {
	border: 1px solid #abb3b8a2;
}