@charset 'utf-8';

.header {
    width: 100%;
    height: 70px;
    background-color: orchid;
}

.body {
    display: flex;
}

.menu {
    width: 12%;
    background-color: palegreen;
}

.main {
    width: 88%;
    background-color: pink;
}