@charset 'utf-8';

.btn-box {
    display: flex;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
    width: 100%;
}


tr {
    height: 40px;
    border: 1px solid #d6dce7;
    font-size: 14px;
}

table a:hover {
    text-decoration: underline;
    color: #555;
}

.td-3 {
    width: 3%;
}

.td-4 {
    width: 4%;
}

.td-5 {
    width: 5%;
}

.td-6 {
    width: 6%;
}

.td-7 {
    width: 7%;
}

.td-8 {
    width: 8%;
}

.td-9 {
    width: 9%;
}

.td-10 {
    width: 10%;
}

.td-12 {
    width: 12%;
}

.td-13 {
    width: 13%;
}

.td-15 {
    width: 15%;
}

.td-100 {
    width: 100%;
}

.text-left {
    text-align: left;
}

.search-box {
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.insert-box {
    border: 1px solid #abb3b8a2;
}

.comment {
    width: 100%;
    height: 100px;
    border: 1px solid #abb3b8a2;
}

.photo {
    width: 12%;
    border: 1px solid #abb3b8a2;
}

.info-table {
    width: 87%;
}

.td-10 {
    width: 10%;
}

.td-23 {
    width: 23%;
}

.td-25 {
    width: 25%;
}

.td-33 {
    width: 33%;
}

.notice {
    color: tomato;
    font-weight: 900;
}