@charset 'utf-8';

.main {
    padding: 50px;
    padding-left: 70px;
    padding-right: 70px;
}

.title {
    font-size: 18px;
}

.m-t5 {
    margin-top: 5px;
}

.m-t10 {
    margin-top: 10px;
}

.m-b5 {
    margin-bottom: 5px;
}

.m-b10 {
    margin-bottom: 10px;
}

.m-b50 {
    margin-bottom: 50px;
}

.m-t50 {
    margin-top: 50px;
}

.m-b100 {
    margin-bottom: 100px;
}

.m-t50 {
    margin-top: 50px;
}

.m-t100 {
    margin-top: 100px;
}

.p-l100 {
    padding-left: 100px;
}

.p-l30 {
    padding-left: 100px;
}

.p-3 {
    padding: 3px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.center {
    text-align: center;
}

.btn-red {
    display: inline-block;
    text-align: center;
    width: 70px;
    height: 35px;
    color: #fff;
    background-color: #d92550;
    border-radius: 2px;
    font-size: 13px;

}

.btn-blue {
    display: inline-block;
    text-align: center;
    width: 70px;
    height: 35px;
    color: #fff;
    background-color: #3f51b5;
    border-radius: 2px;
    font-size: 13px;
}

.btn-white {
    display: inline-block;
    text-align: center;
    width: 70px;
    height: 35px;
    color: #000;
    background-color: #edeff5;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    font-size: 13px;
}

.s-btn-red {
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 25px;
    color: #fff;
    background-color: #d92550;
    border-radius: 2px;
    font-size: 13px;
}

.s-btn-blue {
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 25px;
    color: #fff;
    background-color: #3f51b5;
    border-radius: 2px;
    font-size: 13px;
}

.s-btn-white {
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 25px;
    color: #000;
    background-color: #edeff5;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    font-size: 13px;
}

select,
input {
    padding: 5px;
    font-size: 13px;
    height: 35px;
    border: 1px solid #ccc;
}

.bg-white {
    background-color: #fff;
}

.bg-eee {
    background-color: #eee;
}

.page {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #ddd;
    font-size: 14px;
    cursor: pointer;
}

.page-active {
    background-color: #3f51b5;
    border: 1px solid transparent;
}

.f6 {
    color: #fff;
}

.total-num {
    font-weight: 500;
    font-size: 13px;
}

.hr {
    border: 0;
    border: 1px solid #abb3b8a2;
}

.bold {
    font-weight: 700;
}

.w-150 {
    width: 150px;
}

input {
    width: 100%;
    padding: 5px;
}

.select {
    width: 100%;
}